.container{
    border: 5px solid yellow;
}

.row{
    border: 5px solid violet;
}

.col{
    border: 5px solid green;
}

.col-md{
    border: 5px solid green;
}

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12{
    border: 2px solid black;
}
 

.col-md-4, .col-md-8{
    border: 2px solid rgb(9, 106, 234);
}