*{
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}   

#header{
    background-color: rgb(251, 200, 104);
    padding: 40px 0px 40px 40px;
    margin-bottom: 0;
}

#nav-bar{
    background-color: rgb(212, 212, 212);
    padding: 10px 0px 0px 0px;
}


#side-bar{
    background-color: rgb(251, 200, 104);
    padding-top: 40px;
}

#side-bar ul{
    list-style: none;
}

#side-bar ul li a{
    text-decoration: none;
}

#footer{
    text-align: right;
    background-color: rgb(186, 186, 186);
    padding: 10px 20px 10px 10px ;
    margin-bottom: 0;
}

#nav-bar ul{
    list-style: none;                                       
}

#nav-bar ul li{
    display: inline-block;
}

#nav-bar ul li a{
    text-decoration: none;
}

#sub-heading{
    padding: 20px 0px 10px 30px;
}

#sub-header{
    padding-bottom: 5px;
}